body {
  --primaryColor: #5D737E;
  --secondaryColor: #64B6AC;
  font-family: 'Source Sans Pro', sans-serif;
  /* background-color: var(--primaryColor); */
  }

.cardEffect{
  padding: 1%;
  margin: 20px auto;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
}

input{
  margin: 0 10px;
}

h2,
input{
  font-size: 18px;
  display: inline;
}

.searchBox{
  float: right;
}

.event-marker img{
  width: 10%;
}

.cluster-marker{
  color: #fff;
  background: var(--primaryColor);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight{
  background-color: var(--secondaryColor)!important;
  color: white;
}

h1{
  /* margin: 30px 0 20px 0; */
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

table th{
  background-color: var(--primaryColor);
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: initial;
  text-transform: uppercase;
}

table td,
table th
{
  padding: 2%;
  font-weight: 100;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd
}